<@override name="title">大转盘抽奖管理</@override>
<@override name="header">
<script type="text/javascript" src="${contextPath}/js/common/time.js"></script>
<script type="text/javascript" src="${contextPath}/js/activity/turntableAdd.js"></script>
</@override> <@override name="content">
<form class="layui-form com-form" id="contentDiv" data-id="${coActivity.activityId}" data-type="${flag}" data-statuscd="${coActivity.statusCd}">
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label"><span class="red">*</span>活动标题：</label>
			<div class="layui-inline">
				<#if coActivity.statusCd=='104'>
					<input class="layui-input" lay-verify="required" lay-reqtext="请输入活动标题" placeholder="请输入活动标题" type="text" id="actTitle"  style="width:500px" readonly>
				<#else>
					<input class="layui-input" lay-verify="required" lay-reqtext="请输入活动标题" placeholder="请输入活动标题" type="text" id="actTitle"  style="width:500px">
				</#if>
			</div>
			<#if flag=='add'>
				<div class="layui-inline">
					<input type="button" value="导入活动" class="seckill-time" id="importAct">
				</div>
			</#if>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label"><span class="red">*</span>展示时间：</label>
		<div class="layui-input-block">
			<input type="text" readonly class="seckill-day"  id="showTime" placeholder="${startTime}" value="${startTime}">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label"><span class="red">*</span>活动时间：</label>
			<div class="layui-input-block">
				<input type="button" value="选择起止时间" class="seckill-time">
				<div  class="block">
					<input type="text" readonly class="seckill-day"  id="startTime" placeholder="${startTime}" value="${startTime}">~
					<input type="text" readonly class="seckill-day"  id="endTime" placeholder="${endTime}" value="${endTime}">
				</div>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label"><span class="red">*</span>抽奖模式：</label>
		<div class="layui-input-block">			
			<input type="radio" name="ruleYD" title="翼豆抽奖" value="1" checked>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label"><span class="red">*</span>中奖概率：</label>
			<div class="layui-input-inline">
				<input class="layui-input" lay-verify="required|number" id="probability" lay-reqtext="请输入中奖概率" placeholder="请输入中奖概率" type="text" >
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label"><span class="red">*</span>抽奖价格：</label>
			<div class="layui-input-inline">
				<#if coActivity.statusCd=='104'>
					<input class="layui-input" lay-verify="required|number" placeholder="0" type="text"  id="YdNum" value="${coActivity.useAccount}" readonly>
				<#else>
					<input class="layui-input" lay-verify="required|number" placeholder="0" type="text"  id="YdNum" value="${coActivity.useAccount}">
				</#if>
				<span style="color:#999; position: absolute;right:6px;top:6px">翼豆</span>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label"><span class="red">*</span>抽奖商品：</label>
		<#if coActivity.statusCd!='104'>
			<div class="layui-input-block">
				<input type="button" value="选择商品" class="seckill-time" id="addPrize">
				<div  class="block">
				</div>
			</div>
		</#if>
        <div class="layui-input-block" style="width: 85%">
			<table class="layui-table" lay-filter="prizeTable" lay-skin="nob" id="prizeTable">
			</table>
			<script type="text/html" id="toolBar">
				<a class="layui-btn layui-btn-xs" lay-event="toChoose">重新选择</a>
				<a class="layui-btn layui-btn-xs" lay-event="toDelete">删除</a>
			</script>
		</div>
	</div>
	<#if (coRegionList)?? &&((coRegionList)?size>0)>
		<div class="layui-form-item">
	        <label class="layui-form-label"><span class="red">*</span>活动地区：</label>
	        <div class="layui-input-block">
		        <div class="layui-inline">
			        <#if coActivity.statusCd=='104'>
					<input type="checkbox" name="areaRelAll" lay-skin="primary" title="全选"  lay-filter="checkAreaAll" disabled>
			        <#else>
			        	<input type="checkbox" name="areaRelAll" lay-skin="primary" title="全选"  lay-filter="checkAreaAll">
			        </#if>
		        </div>
		        <div class="layui-inline">
			        <#if coActivity.statusCd=='104'>
			        	<#list coRegionList as region>		            	
			            	<input type="checkbox" name="areaRel" title="${region.regionName}" value="${region.regionCode}" expId="" disabled>
			            </#list>
			        <#else>
			        	<#list coRegionList as region>		            	
			            	<input type="checkbox" name="areaRel" title="${region.regionName}" value="${region.regionCode}" expId="">
			            </#list>
			        </#if>		            
		        </div>
		    </div>
		</div>
    </#if>
	<div class="layui-form-item">
		<label class="layui-form-label"><span class="red">*</span>抽奖频次：</label>
		<div class="layui-input-block">
			<div class="layui-inline" style="width: 150px">
				<input type="radio"  name="countRatebox" title="每天限制" value="1">
			</div>
			<div class="layui-inline">
				<input class="layui-input" placeholder="5" type="text"  id="countRate" value="5">
				<span style="color:#999; position: absolute;right:6px;top:6px">次</span>
			</div>
			<div class="block bottom15">
				<div class="layui-inline" style="width: 150px">
					<input type="radio"  name="countRatebox" title="不限制次数" value="0" checked>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">定向推送：</label>
		<div class="layui-input-block">
			<span class="yellow tip-info">注：系统默认推向全部用户</span>
			<div class="block bottom15">
				<div class="tip-tit left"> 条件一：</div>
                <div class="layui-input-block" style="margin-left: 70px">
                	<#if coActivity.statusCd=='104'>
	                    <input type="checkbox" name="ruleType" title="星级用户" value="1" lay-filter="isCheckXj" ruleId="" disabled>
	                    <input type="checkbox" name="ruleType" title="5G终端用户" value="5" ruleId="" disabled>
	                    <input type="checkbox" name="ruleType" title="5G专属" value="12" ruleId="" disabled>
                    <#else>
                    	<input type="checkbox" name="ruleType" title="星级用户" value="1" lay-filter="isCheckXj" ruleId="">
	                    <input type="checkbox" name="ruleType" title="5G终端用户" value="5" ruleId="">
	                    <input type="checkbox" name="ruleType" title="5G专属" value="12" ruleId="">
                    </#if>
				</div>
			</div>
			<div class="block bottom15">
				<div class="tip-tit left"> 条件二：</div>
                <div class="layui-input-block" style="margin-left: 70px">
                	<#if coActivity.statusCd=='104'>
                		<input type="radio" name="ruleContion" title="满足一个条件-即可" value="OR" checked disabled>
                    	<input type="radio" name="ruleContion" title="满足所有条件-的用户" value="AND" disabled>
                	<#else>
                		<input type="radio" name="ruleContion" title="满足一个条件-即可" value="OR" checked>
                    	<input type="radio" name="ruleContion" title="满足所有条件-的用户" value="AND">
                	</#if>
                </div>
			</div>
		</div>
	</div>
    <div class="layui-form-item" id="ruleDataDiv1" style="display: none">
        <label class="layui-form-label">星级要求：</label>
        <div class="layui-input-block" style="width:200px">
            <select id="ruleData1">
                <#list 0..7 as t>
                <option value="${t}">${t}级</option>
                </#list>
            </select>
        </div>
    </div>
	<div class="layui-form-item">
		<label class="layui-form-label">活动简介：</label>
		<div class="layui-input-block"  style="width:600px">
			<textarea placeholder="请输入活动简介" class="layui-textarea" id="activityDesc" cols="2"></textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">活动说明：</label>
		<div class="layui-input-block"  style="width:600px">
			<textarea placeholder="请输入活动说明" class="layui-textarea" id="activityRule" style="display: none"></textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label"><span class="red">*</span>展示位置：</label>
		<div class="layui-input-block">
			<span class="yellow tip-info">注：系统默认抽奖入口位于活动列表</span>			
			<div class="block bottom15">
				<div class="layui-inline" style="width: 150px">
					<input type="checkbox" lay-skin="primary" name="banners" title="首页顶部banner" value="102" lay-filter="delPic">
				</div>
				<div class="layui-inline">
					<button type="button" class="layui-btn" id="banner102">
						<i class="layui-icon">&#xe67c;</i>上传图片
					</button>
				</div>
			</div>
			<div class="block bottom15">
				<div class="layui-inline" style="width: 150px">
					<input type="checkbox" lay-skin="primary" name="banners" title="首页活动宣传banner" value="103" lay-filter="delPic">
				</div>
				<div class="layui-inline">
					<button type="button" class="layui-btn" id="banner103">
						<i class="layui-icon">&#xe67c;</i>上传图片
					</button>
				</div>
			</div>
			<div class="block bottom15">
				<div class="layui-inline" style="width: 150px">
					<input type="checkbox" lay-skin="primary" name="banners" title="首页活动弹窗banner" value="105" lay-filter="delPic">
				</div>
				<div class="layui-inline">
					<button type="button" class="layui-btn" id="banner105">
						<i class="layui-icon">&#xe67c;</i>上传图片
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="saveAct">保存</button>
			<button class="layui-btn" lay-submit="" lay-filter="publishAct">发布</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>
</@override>
<@extends name="/main/main-template.html"/>