<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.CoMenuDao">
<!--
<select id="getMenus" resultMap="getMenu">
    select * from qypt.co_menu q1,qypt.co_menu q2 where q1.PID=0 and q2.PID=q1.ID
</select>
<resultMap id="ge   tMenu" type="com.web.model.CoMenu">
    <result column="ID" property="id"></result>
    <result column="NAME" property="name"></result>
    <result column="PID" property="pid"></result>
    <result column="SORT_SEQ" property="sort_seq"></result>
    <result column="IS_TYPE" property="is_type"></result>
    <result column="DESCPT" property="descpt"></result>
    <result column="CODE" property="code"></result>
    <result column="ICON" property="icon"></result>
    <result column="PAGE_URL" property="page_url"></result>
    <result column="STATUS_DATE" property="status_date"></result>
    <result column="UPDATE_DATE" property="update_date"></result>
    <result column="STATUS_CD" property="status_cd"></result>
    <collection property="secondMenu" ofType="com.web.model.CoMenu">
        <result column="ID" property="id"></result>
        <result column="NAME" property="name"></result>
        <result column="PID" property="pid"></result>
        <result column="SORT_SEQ" property="sort_seq"></result>
        <result column="IS_TYPE" property="is_type"></result>
        <result column="DESCPT" property="descpt"></result>
        <result column="CODE" property="code"></result>
        <result column="ICON" property="icon"></result>
        <result column="PAGE_URL" property="page_url"></result>
        <result column="STATUS_DATE" property="status_date"></result>
        <result column="UPDATE_DATE" property="update_date"></result>
        <result column="STATUS_CD" property="status_cd"></result>
    </collection>
</resultMap>

-->


<!--<select id="getMenu" resultMap="getFirstMenu">
    select * from qypt.co_menu where PID=0
</select>
    <resultMap id="getFirstMenu" type="com.web.model.CoMenu">
        <collection property="students" javaType="ArrayList" ofType="com.web.model.CoMenu" select="getSecondMenu" column="pid"/>
    </resultMap>
    <select id="getSecondMenu" resultType="com.web.model.CoMenu">
        select * from qypt.co_menu where PID=ID;
    </select>-->
    <select id="getMenus" resultType="com.web.model.CoMenu">
        select * from qypt.co_menu order by ID;
    </select>
</mapper>