<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.CoProdClassDao">
  <resultMap id="BaseResultMap" type="com.web.model.CoProdClass">
    <!--@mbg.generated-->
    <!--@Table co_prod_class-->
    <id column="CLASS_CODE" jdbcType="VARCHAR" property="classCode" />
    <result column="BRAND_TITLE" jdbcType="VARCHAR" property="brandTitle" />
    <result column="BRAND_DESC" jdbcType="VARCHAR" property="brandDesc" />
    <result column="SORT_SEQ" jdbcType="DECIMAL" property="sortSeq" />
    <result column="ADD_TIME" jdbcType="TIMESTAMP" property="addTime" />
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd" />
    <result column="STAFF_ID" jdbcType="INTEGER" property="staffId" />
    <result column="EDIT_STAFF_ID" jdbcType="INTEGER" property="editStaffId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    CLASS_CODE, BRAND_TITLE, BRAND_DESC, SORT_SEQ, ADD_TIME, STATUS_DATE, UPDATE_DATE, 
    STATUS_CD, STAFF_ID, EDIT_STAFF_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    SELECT
    <include refid="Base_Column_List" />
    FROM co_prod_class
    WHERE CLASS_CODE = #{classCode,jdbcType=VARCHAR}
  </select>

  <select id="selectCountByClassCode" parameterType="java.util.Map" resultType="java.lang.Long">
    <!--@mbg.generated-->
    SELECT
        count(0)
    FROM co_prod_class
    WHERE CLASS_CODE = #{classCode,jdbcType=VARCHAR}
    <if test="oldClassCode != null and oldClassCode != ''">
        AND CLASS_CODE != #{oldClassCode,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    DELETE FROM co_prod_class
    WHERE CLASS_CODE = #{classCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="CLASS_CODE"  parameterType="com.web.model.CoProdClass" >
    <!--@mbg.generated-->
    INSERT INTO co_prod_class (CLASS_CODE,BRAND_TITLE, BRAND_DESC, SORT_SEQ,
      ADD_TIME, STATUS_DATE, UPDATE_DATE, 
      STATUS_CD, STAFF_ID, EDIT_STAFF_ID
      )
    VALUES (#{classCode,jdbcType=VARCHAR},#{brandTitle,jdbcType=VARCHAR}, #{brandDesc,jdbcType=VARCHAR}, #{sortSeq,jdbcType=DECIMAL},
      #{addTime,jdbcType=TIMESTAMP}, #{statusDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{statusCd,jdbcType=VARCHAR}, #{staffId,jdbcType=INTEGER}, #{editStaffId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective"  parameterType="com.web.model.CoProdClass" >
    <!--@mbg.generated-->
    INSERT INTO co_prod_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classCode != null">
        CLASS_CODE,
      </if>
      <if test="brandTitle != null">
        BRAND_TITLE,
      </if>
      <if test="brandDesc != null">
        BRAND_DESC,
      </if>
      <if test="sortSeq != null">
        SORT_SEQ,
      </if>
      <if test="addTime != null">
        ADD_TIME,
      </if>
      <if test="statusDate != null">
        STATUS_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="statusCd != null">
        STATUS_CD,
      </if>
      <if test="staffId != null">
        STAFF_ID,
      </if>
      <if test="editStaffId != null">
        EDIT_STAFF_ID,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="classCode != null">
        #{classCode,jdbcType=VARCHAR},
      </if>
      <if test="brandTitle != null">
        #{brandTitle,jdbcType=VARCHAR},
      </if>
      <if test="brandDesc != null">
        #{brandDesc,jdbcType=VARCHAR},
      </if>
      <if test="sortSeq != null">
        #{sortSeq,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
        #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
        #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="editStaffId != null">
        #{editStaffId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.model.CoProdClass">
    <!--@mbg.generated-->
    update co_prod_class
    <set>
      <if test="classCode != null">
        CLASS_CODE = #{classCode,jdbcType=VARCHAR},
      </if>
      <if test="brandTitle != null">
        BRAND_TITLE = #{brandTitle,jdbcType=VARCHAR},
      </if>
      <if test="brandDesc != null">
        BRAND_DESC = #{brandDesc,jdbcType=VARCHAR},
      </if>
      <if test="sortSeq != null">
        SORT_SEQ = #{sortSeq,jdbcType=DECIMAL},
      </if>
      <if test="addTime != null">
        ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
        STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
        STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="staffId != null">
        STAFF_ID = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="editStaffId != null">
        EDIT_STAFF_ID = #{editStaffId,jdbcType=INTEGER},
      </if>
    </set>
    where CLASS_CODE = #{oldClassCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.model.CoProdClass">
    <!--@mbg.generated-->
    UPDATE co_prod_class
    SET BRAND_TITLE = #{brandTitle,jdbcType=VARCHAR},
      BRAND_DESC = #{brandDesc,jdbcType=VARCHAR},
      SORT_SEQ = #{sortSeq,jdbcType=DECIMAL},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP},
      STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      STAFF_ID = #{staffId,jdbcType=INTEGER},
      EDIT_STAFF_ID = #{editStaffId,jdbcType=INTEGER}
    WHERE CLASS_CODE = #{classCode,jdbcType=VARCHAR}
  </update>

  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    INSERT INTO co_prod_class
    (CLASS_CODE,BRAND_TITLE, BRAND_DESC, SORT_SEQ, ADD_TIME, STATUS_DATE, UPDATE_DATE, STATUS_CD,
      STAFF_ID, EDIT_STAFF_ID)
    VALUES
    <foreach collection="list" item="item" separator=",">

      (#{item.classCode,jdbcType=VARCHAR},#{item.brandTitle,jdbcType=VARCHAR}, #{item.brandDesc,jdbcType=VARCHAR}, #{item.sortSeq,jdbcType=DECIMAL},
        #{item.addTime,jdbcType=TIMESTAMP}, #{item.statusDate,jdbcType=TIMESTAMP}, #{item.updateDate,jdbcType=TIMESTAMP}, 
        #{item.statusCd,jdbcType=VARCHAR}, #{item.staffId,jdbcType=INTEGER}, #{item.editStaffId,jdbcType=INTEGER}
        )
    </foreach>
  </insert>

  <select id="queryClass" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM co_prod_class
    WHERE 1=1
    <include refid="queryGroupCondition" />
    ORDER BY STATUS_CD ,SORT_SEQ
  </select>
  <sql id="queryGroupCondition">
    <if test="classCode != null and classCode != ''">
      AND CLASS_CODE LIKE CONCAT('%',#{classCode,jdbcType=VARCHAR},'%')
    </if>
    <if test="brandTitle != null and brandTitle != ''">
      AND BRAND_TITLE LIKE CONCAT('%',#{brandTitle,jdbcType=VARCHAR},'%')
    </if>
    <if test="brandTitle != null and brandTitle != ''">
      AND BRAND_TITLE LIKE CONCAT('%',#{brandTitle,jdbcType=VARCHAR},'%')
    </if>
    <if test="brandDesc != null and brandDesc != ''">
      AND BRAND_DESC = LIKE CONCAT('%',#{brandDesc,jdbcType=VARCHAR},'%')
    </if>
    <if test="sortSeq != null">
      AND SORT_SEQ = #{sortSeq,jdbcType=DECIMAL}
    </if>
    <if test="addTime != null">
      AND ADD_TIME = #{addTime,jdbcType=TIMESTAMP}
    </if>
    <if test="statusDate != null and statusDate != ''">
      AND STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP}
    </if>
    <if test="updateDate != null">
      AND UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    </if>
    <if test="statusCd != null">
      AND STATUS_CD = #{statusCd,jdbcType=VARCHAR}
    </if>
    <if test="staffId != null">
      AND STAFF_ID = #{staffId,jdbcType=BIGINT}
    </if>
    <if test="editStaffId != null">
      AND EDIT_STAFF_ID = #{editStaffId,jdbcType=BIGINT}
    </if>
  </sql>
</mapper>