<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>权益平台</title>
  <link rel="stylesheet" type="text/css" href=" https://heerey525.github.io/layui-v2.4.3/layui-v2.4.5/css/layui.css" >
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">


      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test" >
        <span class="layui-nav-bar" style="top: 22.5px; height: 0px; opacity: 0;"></span>
        <!--<li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">所有商品</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>-->
    <!--    <li class="layui-nav-item">
          <a href="javascript:;">解决方案</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">云市场</a></li>
        <li class="layui-nav-item"><a href="">发布商品</a></li>
        <li class="layui-nav-item"><a href="http://www.baidu.com" target="iframe">iframe</a></li>-->
       <!-- <li class="layui-nav-item">百度</li>
        <li class="layui-nav-item">Google</li>-->
      </ul>




    </div>
  </div>
</div>
</body>
</html>